<div class="row p-t-10">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= t('repositories.commits.commits_in_repo') %> (<%= t('repositories.commits.total_commits', count: @commits.size) %>)
            </div>
            <!-- .panel-heading -->

            <div class='panel-body'>
                <% @commits.each do |commit| %>
                    <div class="col-lg-12">
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                <p><%= commit['commit']['message'] %></p>
                            </div>
                            <div class="panel-footer">
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-github"></i>
                                        <%= commit['commit']['committer']['name'] %> <%= t('repositories.commits.commited') %> <%= time_ago_in_words(commit['commit']['committer']['date']) %> <%= t('ago') %>
                                    </small>
                                    <br />
                                    <small class="text-muted">
                                        <i class="fa fa-comment"></i>
                                        <%= t('repositories.commits.total_comments') %>: <%= commit['commit']['comment_count'] %>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <!-- .panel-heading -->
        </div>
    </div>
</div>
