<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i>
        <%= t('repositories.your_repositories')%>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <% if @repos.present? %>
            <ul class="timeline">
                <% @repos.each_with_index do |repo, index|
                    li_class = index.odd? ? 'timeline-inverted' : ''
                %>
                    <li class="<%= li_class %>" index="<%= index %>">
                        <div class="timeline-badge"><i class="fa fa-credit-card"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <%= link_to repo['name'], repository_path(repo['name']) %>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i>
                                        <%= t('repositories.pushed') %> <%= time_ago_in_words(repo['pushed_at']) %> <%= t('ago') %>
                                    </small>
                                    <br />
                                    <small class="text-muted">
                                        <i class="fa fa-star"></i>
                                        <%= t('repositories.stars')%>: <%= repo['stargazers_count'] %>
                                    </small>
                                    <br />
                                    <small class="text-muted">
                                        <i class="fa fa-eye"></i>
                                        <%= t('repositories.watchers')%>: <%= repo['watchers_count'] %>
                                    </small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <%= repo['description'] %>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        <% else %>
            <%= t('repositories.errors.no_repository') %>
        <% end %>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
