<!DOCTYPE html>
<html>
  <head>
    <title>GithubAccountManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user.present? %>
      <div id="wrapper">
        <%= render 'layouts/navigations' %>
        <div id="page-wrapper">
    <% end %>
    <%= yield %>
    <% if @current_user.present? %>
        </div>
      </div>
    <% end %>
  </body>
</html>
