<!DOCTYPE html>
<html>
  <head>
    <title>GithubAccountManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user.present? %>
      <h2>Welcome <%= @current_user.github_name %></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
